:root{
    --primarycolor : #184d47;
    --secondarycolor : #fad586;
    --thirdcolor : #000000;
}

h3{
    color: darkblue;
}

p{
    font-size: 20px;
    color: darkred;
}

.class-selector{
    color:deeppink;
}

#h3-satu{
    color: forestgreen;
}

#h3-dua{
    color:goldenrod;
}

#button-submit{
    width: 200px;
    height: 100px;
    background-color: var(--primarycolor);
    color: var(--secondarycolor)
}

#p-with-pseudo{
    background-color: blanchedalmond;
    color: var(--secondarycolor);
    font-family:monospace;
    display: inline;
    transition: 500ms;
}

#p-with-pseudo:hover{
    color: black;
}

#a-with-pseudo{
    color: black;
}

#a-with-pseudo:visited{
    color: var(--secondarycolor);
}

#a-with-pseudo:active{
    color:crimson;
}