.box-size{
    width: 100px;
    height: 100px;
}

.box-size-satu{
    width: 200px;
    height: 200px;
}

.box-color-primary{
    background-color: salmon;
}

.box-color-secondary{
    background-color: slateblue;
}

.box-relative{
    position: relative;
    top: 30px;
}

.box-absolute{
    position: absolute;
    top: 30px;
    right: 30px;
}

.span-absolute{
    position: absolute;
    top: 0px;
    right: 0px;
}

.navbar-fixed{
    height: 50px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}

.navbar-sticky{
    height: 50px;
    position: sticky;
    top: 30px;
}