body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    background-color: #52cc99;
}

html {
    scroll-behavior: smooth;
}

.jumbotron{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://www.homewallmurals.co.uk/ekmps/shops/allwallpapers/images/white-swirls-abstract-paper-wallpaper-5390-p.jpg');
    height:60vh;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
}

.header{
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.header .header-name{
    margin: 30px 50px;
    font-size: 20px;
    font-weight: 900;
    color: white;
}

.header .header-menu{
    margin: 30px 50px;
    font-size: 16px;
    font-weight: 900;
    color: white;
}

.main-name{
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
}

.photo{
    text-align: center;
}

.photo .photo-image{
    border-radius: 100%;
    margin-top: -100px;
}

.photo .photo-name{
    color: white;
    line-height: 5px;
}

.about-me{
    text-align: center;
    margin-top: 200px;
}

.main-about-me{
    display: flex;
}

.main-about-me .main-about-me-1{
    flex: 1;
    text-align: left;
    margin-left: 100px;
}

.main-about-me-1 h3{
    line-height: 1px;
    font-weight: 700;
}

.main-about-me-1 p{
    font-size: 15px;
    color: white;
}

.main-about-me .main-about-me-2{
    flex: 2;
    margin-right: 100px;
}

.offer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 87%;
    height: 700px;
    margin-top: 10px;
}

.offer .offer-item{
    width: 400px;
    height: 300px;
    border: 1px solid white;
}

.skills{
    display: flex;
    justify-content: center;
    width: 87%;
}

.skills-1{
    flex: 1
}

.skills-2{
    flex: 1;
}

.outline-bar{
    width: 100%;
    height: 15px;
    background: #51b384;
}

.inline-bar{
    width: 90%;
    height: 15px;
    background-color: #3e7157;
}